n8n.json
{
    "name": "PG | DB | KEH",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          60,
          -140
        ],
        "id": "d6850bd4-5a85-455e-9114-6caf251b4c3b",
        "name": "When clicking ‘Test workflow’"
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-5-nano",
            "mode": "list",
            "cachedResultName": "GPT-5-NANO"
          },
          "messages": {
            "values": [
              {
                "content": "=You are a classifier. \nthis is example we have\n\n| Name                                   | D.O.B.     | Gender | Age | Prefix | Ethnicity |\n| -------------------------------------- | ---------- | ------ | --- | ------ | --------- |\n| Hamirul Hafizal Bin Mohamad Kamaruddin | 1997-01-05 | male   | 28  | En     | Malay     |\n| Lim Wei Ming                           | 2000-07-12 | male   | 25  | Tn     | Chinese   |\n| Siti Nur Aisyah Binti Ahmad            | 1995-03-22 | female | 30  | Pn     | Malay     | \n\nthe data provided is  \n\nName : {{ $json.Name }}\nDob : {{ $json['D.O.B.'] }}\n\nYou MUST return a JSON object with the following keys: \n\n1. Gender - (Male/Female),\n2. Ethnicity - (Malay/Chinese/Indian/Other)\n3. Age - \n4. Prefix - En, Pn, Cik, Tn -- if(age > 28, En or Pn) else ( Tn, Cik )\n5. FirstName - without common prefix name like muhd, mohamad, nur, noor, siti, nurul,Nur, Ahmad and others that common on malaysia\n6. SenderName - Prefix + FirstName\n7. row_number: {{ $json.row_number }}\n\nExample\n1. Gender : Female\n2. Ethnicity: Malay\n3. Age : 30\n4. Prefix : Pn\n5. FirstName : Aisyah\n6. SenderName: Pn Aisyah\n7. row_number: {{ $json.row_number }}\n\nDo not return anything else\n\n"
              }
            ]
          },
          "jsonOutput": true,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          1340,
          -120
        ],
        "id": "e39ef5b3-b447-423d-b96e-a3051ccdb56d",
        "name": "OpenAI",
        "alwaysOutputData": true,
        "credentials": {
          "openAiApi": {
            "id": "F9sVCCF9GfuCo0ZZ",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          1040,
          -120
        ],
        "id": "6be4ffc8-f27f-4bca-8d21-0d8d0a1715f6",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1WNj8l7IaIFPX23lQxzXwrlaiXktKRpmZarjaSG8TUgM",
            "mode": "list",
            "cachedResultName": "PD\\DB",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WNj8l7IaIFPX23lQxzXwrlaiXktKRpmZarjaSG8TUgM/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 767786316,
            "mode": "list",
            "cachedResultName": "PAGE 1.csv",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WNj8l7IaIFPX23lQxzXwrlaiXktKRpmZarjaSG8TUgM/edit#gid=767786316"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          540,
          -140
        ],
        "id": "09d300e3-b3b0-42a6-a5f5-398e21aa55d2",
        "name": "Google Sheets",
        "alwaysOutputData": true,
        "executeOnce": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "oTnBvn6Kp3JLItcv",
            "name": "Google Sheets account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1WNj8l7IaIFPX23lQxzXwrlaiXktKRpmZarjaSG8TUgM",
            "mode": "list",
            "cachedResultName": "PD\\DB",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WNj8l7IaIFPX23lQxzXwrlaiXktKRpmZarjaSG8TUgM/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 767786316,
            "mode": "list",
            "cachedResultName": "PAGE 1.csv",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WNj8l7IaIFPX23lQxzXwrlaiXktKRpmZarjaSG8TUgM/edit#gid=767786316"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Ethnicity": "={{ $json.message.content.Ethnicity }}",
              "Age": "={{ $json.message.content.Age }}",
              "Gender": "={{ $json.message.content.Gender }}",
              "Prefix": "={{ $json.message.content.Prefix }}",
              "SenderName": "={{ $json.message.content.SenderName }}",
              "row_number": "={{ $json.message.content.row_number }}"
            },
            "matchingColumns": [
              "row_number"
            ],
            "schema": [
              {
                "id": "PGCode",
                "displayName": "PGCode",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Email",
                "displayName": "Email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Name",
                "displayName": "Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Parent Name",
                "displayName": "Parent Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "D.O.B.",
                "displayName": "D.O.B.",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Rank",
                "displayName": "Rank",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Branch",
                "displayName": "Branch",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Telephone",
                "displayName": "Telephone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Total Frontline",
                "displayName": "Total Frontline",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Empire Size",
                "displayName": "Empire Size",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Date Register",
                "displayName": "Date Register",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Last Purchase Date",
                "displayName": "Last Purchase Date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Autodebit Subscription",
                "displayName": "Autodebit Subscription",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Amount Autodebit",
                "displayName": "Amount Autodebit",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Date Autodebit",
                "displayName": "Date Autodebit",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Age",
                "displayName": "Age",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Ethnicity",
                "displayName": "Ethnicity",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Gender",
                "displayName": "Gender",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Prefix",
                "displayName": "Prefix",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "SenderName",
                "displayName": "SenderName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          1700,
          -140
        ],
        "id": "70df72e5-1271-4652-a58a-3c85e2ae7f08",
        "name": "Google Sheets1",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "oTnBvn6Kp3JLItcv",
            "name": "Google Sheets account 2"
          }
        }
      }
    ],
    "pinData": {},
    "connections": {
      "When clicking ‘Test workflow’": {
        "main": [
          [
            {
              "node": "Google Sheets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI": {
        "main": [
          [
            {
              "node": "Google Sheets1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "OpenAI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Sheets": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Sheets1": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": false,
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "252f956b-751d-4406-a3a2-5f826b2d267a",
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "a1bed3f4672a2c50a63ab78349f1c29ed84f571fa7c8bb311b1c59941bc9e44d"
    },
    "id": "7TsM8ERjd0QNo2OI",
    "tags": []
  }